.about-container{
    display: flex;
    max-width: 320px;
    margin: auto;
    flex-wrap: wrap;
}
.about-menu{
    background-color:black;
    height: 36px;
    width: 340px;
    margin-top: 5px;
}
.about-titre{
    background-color: #eeeeee;
    width: 320px;
    height: 700px;
}
.about-h2{
    margin-left: 20px;
}
.class{
    background-color: #ffffff;
    width: 274px;
    margin-left: 20px;
    height: 431px;

}
.diva{
    
    width: 239px;
    height: 342px;
    margin-top: -372px;
    margin-left: 35px;
}
.feno{
    
    margin-left: 47px;
}
.rot{
    margin: -10px;
    margin-left: -10px;
    margin-top: -25px;
    background-color: black;
    width: 44px;
    height: 44px;
    
    border-radius: 40px;

}
.rote{
    margin: -10px;
    margin-left: -10px;
    margin-top: -20px;
    background-color: black;
    width: 44px;
    height: 44px;
    
    border-radius: 40px;
}
.about-logo{
    margin-left: 47px;
    position: absolute;
    top: 389px;
    border: none;
    background-color: #ffffff;
}
.about-envelope{
    margin-left: 69px;
    position: absolute;
    top: 389px;
    border: none;
    background-color: #ffffff;

}
.div{
    margin-top: 19px;
    margin-left: 10px;
}
.fen{
    margin-left: 46px;
}
.logo{
    margin-left: 46px;
    position: absolute;
    top: 445px;
    border: none;
    background-color: #ffffff;
}
.envelope{
    margin-left: 68px;
    position: absolute;
    top: 445px;
    border: none;
    background-color: #ffffff
}
.about-fini{
    margin-left: 10px;
}
.about-btn{
    color: #eeeeee;
    background-color: black;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
}
.info{
    color: #eeeeee;
    background-color: black;
    border: none;
    margin-left: 240px;
}