

.about-container{
    display: flex;
    max-width: 320px;
    margin: auto;
    flex-wrap: wrap;
}
.about-menu{
    background-color: black;
    height: 36px;
    width: 320px;
    margin-top: 5px;
}
.about-btn{
    color: #eeeeee;
    background-color: black;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
}
.about-circle{
    color: #eeeeee;
    background-color: black;
    border: none;
    margin-left: 240px;
}
.titre{
    background-color:#eeeeee ;
    width: 320px;
    height: 700px;
}
.about-left{
    margin-left: 15px;
}
.about-titre{
    background-color: #ffffff;
    width: 287px;
    height: 393px;
    margin-left: 15px;
}
.about-span{
  
    width: 257px;
    height: 329px;
    margin-left: 31px;
    margin-top: -342px;
    position: relative;
}
.about-photo{
    background-color: black;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    margin-top: -19px;
}
.about-feno{
    margin: 60px
}
.about-hasina{
    color: black;
    border: none;
     background-color: #ffffff;
    margin: -143px;
    position: absolute;
    top: 384px;
}
.about-fen{
      border: none;
      background-color: #ffffff;
      position: absolute;
      top: 241px;
      left: 89px;
}
.about-hot{
    background-color: black;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    margin-top: -31px;
}
.about{
    margin-left: 58px;
}
.about-h{
    
    border: none;
    background-color: #ffffff;
    margin: -143px;
    position: absolute;
    top: 453px;
    left: 202px;

}
.about-f{
    border: none;
    background-color: #ffffff;
    position: absolute;
    top: 308px;
    left: 89px;
}