.vuec_container{
    display: flex;
    max-width: 320px;
    margin: auto;
    flex-wrap: wrap;
    position: relative;
}
.menu{
    background-color:black;
    height: 36px;
    width: 340px;
    margin-top: 5px;
}
.score{
    background-color: #ffffff;
    width: 277px;
    margin-left: 20px;
    height: 157px;
    margin-top: -3px;
    margin: 20px;
}
.title{
    background-color: #eeeeee;
    width: 320px;
    height: 720px;
    
}
.display{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: -20px;
    
}
.li{
    margin-left: -21px;
}
.total{
    width: 74px;
    text-decoration: underline;
    margin-left: 150px;
}
.h2{
    margin-left: 20px;
}
.tojo{
    margin: 14px;
    margin-top: 3px;
    
    
}

.ajouter-1{
    width: 242px;
    height: 24px;
    border: none;
    background-color: #ff2c56;
    color: white;
    margin-left: 15px;
}
.score-1{
    background-color: #ffffff;
    
    width: 277px;
    margin-left: 20px;
    height: 157px;
}
.papi{
    margin-left: 20px;
    
}
.display-1{
    display: flex;
    justify-content: space-between;
}
.h5-1{
    width: 74px;
    text-decoration: underline;
    margin-left: 150px;
}
.score-2{
    background-color: #ffffff;
    
    width: 277px;
    margin-left: 20px;
    height: 183px;
    margin-top: 25px;
    
}
.h3-1{
    margin-left: 20px;
}
.display-2{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: -17px;
}
.h5-3{
    width: 74px;
}

.details{
    width: 232px;
    margin-left: 20px;
    height: 24px;
    border: none;
    background-color:#00b31e;
    color: white;
   
}
.ajouter-3{
    width: 242px;
    margin-left: 20px;
    height: 24px;
    border: none;
    background-color: #ff2c56;
    color: white;
    position: absolute;
    top: 408px;
    left: 20px;
    right: 0px;
}

.score-3{
    background-color: #ffffff;
    
    width: 277px;
    margin-left: 20px;
    height: 34px;
    margin-top: 25px;
}
.display-3{
    display: flex;
}
.h3-5{
    margin-left: -81px;
    margin-top: 20px;
    text-decoration: underline;
}
.h3-6{
    margin-top: 20px;
}
.pen{
    display: flex;
    justify-content: space-between;
}
.button-1{
    margin-left: 48px;
    background-color: #ffffff;
    border: none;
    height: 24px;
    width: 31px;

}
.times{
    margin-left: 25px;
    background-color: #eeeeee;
    border: none;
    height: 24px;
    width: 31px;
}
.home{
    color: white;
    background-color: black;
    border: none;
    margin-left: 11px;
    margin-top: 9px;
}
.circle{
    margin-left: 237px;
    color: white;
    background: black;
    border: none;
}
.band{
    color: #ff2c56;
    margin-left: 78px;
    width: 93px;
    border-radius: 13px;
    height: 28px;
}
.fa-band-aid{
    margin-left: -52px;
}
.h3-7{
    margin-top: 2px; 
}
.h3-8{
    margin-left: 20px;
    margin-top: 2px;
}
.h5-5{
    margin-right: 28px;
}
.total-0{
    margin-right: 28px;
}

.place{
   margin-left: 20px;
   height: 22px;
}
.quiter{
  margin: 0;
  margin-left: 20px;
}
.joint{
    margin: -6px;
    margin-left: 1px;
    color: #ffffff;
}
.joint-1{
    margin-top: -10px;
}
.h5-2{
    margin-left: 7px;
}
.start{
    margin: 0;
    margin-right: 10px;
    margin-top: 5px;
    color: #ff2c56;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.li{
    margin-top: 6px;
}
.top{
    margin-top: 10;
}
.details-1{
    width: 242px;
    margin-left: 20px;
    height: 24px;
    border: none;
    background-color: #ff2c56;
    color: white;
}
.flexDiv{
    display: flex;
    background-color: #ffffff;
    width: 278px;
    height: 34px;
    margin-left: 20px;
}