.vuec_container{
    display: flex;
    max-width: 320px;
    margin: auto;
    flex-wrap: wrap;
}
.menu{
    background-color:black;
    height: 36px;
    width: 340px;
    margin-top: 5px;
}
.score{
    background-color: #ffffff;
    
    width: 277px;
    margin-left: 20px;
    height: 170px;
}
.title{
    background-color: #eeeeee;
    width: 340px;
    height: 720px;
}
.display{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: -20px;
    
}
.li{
    margin-left: -21px;
}
.total{
    margin: 24px;
    text-decoration: underline;

}
.h2{
    margin-left: 20px;
}
.tojo{
    margin-left: 20px;
}
.ajouter-1{
    width: 232px;
    margin-left: 20px;
    height: 26px;
    border: none;
    background-color: #ff2c56;
    color: white;
}
.score-1{
    background-color: #ffffff;
    
    width: 277px;
    margin-left: 20px;
    height: 170px;
}
.papi{
    margin-left: 20px;
    
}
.display-1{
    display: flex;
    justify-content: space-between;
}
.h5-1{
    width: 74px;
    text-decoration: underline;
}
.score-2{
    background-color: #ffffff;
    
    width: 277px;
    margin-left: 20px;
    height: 170px;
    margin-top: 25px;
    
}
.h3-1{
    margin-left: 20px;
}
.display-2{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: -17px;
}
.h5-3{
    width: 74px;
}
.h6-1{
    margin: 0;
    margin-left:20px;
}
.ajouter-2{
    width: 232px;
    margin-left: 20px;
    height: 26px;
    border: none;
    background-color:#00b31e;
    color: white;
   
}
.input-1{
    margin-left: 19px;
    height: 20px;
}
.score-3{
    background-color: #ffffff;
    
    width: 277px;
    margin-left: 20px;
    height: 34px;
    margin-top: 25px;
}
.display-3{
    display: flex;
}
.h3-5{
    margin-left: 20px;
    margin-top: 2px;
}
.h3-6{
    margin-top: 2px;
}